.listenButton {
	display: inline-flex;
	background-color: var(--background);
	color: var(--foreground);
	border: none;
	border-radius: 0.75em;
	padding: 0.5em 1.5em;
	margin-top: 1em;
	font-size: 0.88rem;
	cursor: pointer;
	transition:
		background-color 0.2s,
		color 0.2s;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.listenButton:hover,
.listenButton:focus {
	background-color: var(--foreground);
	color: var(--background);
}
.listenButton.processing {
	background: hsl(27, 100%, 26%);
	color: #fff;
	animation: pulse 1.5s ease-in-out infinite;
}
.listenButton.speaking {
	background: #750440;
	color: #fff;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
}
