.listenButton {
	display: inline-flex;
	background-color: var(--background);
	color: var(--foreground);
	border: none;
	border-radius: 0.75em;
	padding: 0.5em 1.5em;
	margin-top: 1em;
	font-size: 0.88rem;
	cursor: pointer;
	transition:
		background-color 0.2s,
		color 0.2s;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.listenButton:hover,
.listenButton:focus {
	background-color: var(--foreground);
	color: var(--background);
}
.listenButton.processing {
	background: #623db9;
	color: #fff;
	animation: pulse 1.5s ease-in-out infinite;
}
.listenButton.speaking {
	background: #70b40a;
	color: #fff;
}
.listenButton.error {
	background: #e00938;
	color: #fff;
	border: 2px solid #fff;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
}

.icon {
	margin-right: 0.5em;
	display: inline-flex;
	align-items: center;
}

.errorMessage {
	font-size: 0.8rem;
	color: var(--alwaysBlack);
	margin-top: 0.5em;
	padding: 0.5em;
	border-radius: 0.5em;
	background-color: rgba(206, 9, 51, 0.1);
}

.buttonDisabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.buttonEnabled {
	opacity: 1;
	cursor: pointer;
}
