.dateContainer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-top: 0.5rem;

	font-size: 0.8em;
	line-height: 1;
	text-align: center;
}

.dateLine {
	white-space: nowrap;
}

.separator {
	display: none;
}

@media (min-width: 480px) {
	.dateContainer {
		flex-direction: row;
		align-items: center;
		gap: 1rem;
	}

	.separator {
		display: inline;
	}
}
